## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.nupkg
*.snupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## Rider / VS Code
.idea/
.vscode/
*.swp
*.swo

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## User-specific
*.DotSettings.user
